
 .footer {
    background-color: rgb(71, 57, 57);
    border-radius: 10px 10px 0px 0px;
    padding: 2vmax;

   
  } 

  .footer .middle_icon{
    display: flex;
    justify-content: center;

  }
  .footer > div > h5 {
    color: white;
    border-bottom: 1px solid white;
    width: 120px;
    margin-bottom: 20px;
    padding: 10px 0;
  }
  
  .footer > div > p {
    color: white;
    width: 70%;
  }
  
  .footer > div > h6 {
    color: white;
    padding: 10px 0;
  }
  
  .footer > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footerContactBtn {
    background-color: white;
    color: black;
    padding: 5px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 2vmax 0;
    border: 1px solid white;
    transition: all 0.5s;
  }
   .footer > div > a {
    font-size: 2vmax;
    color: white;
    transition: all 0.3s;
    padding-left: 20px;
  }

 
  .footer > div > a:nth-child(1):hover {
    color:rgb(114, 188, 218)
  }
  .footer > div > a:nth-child(2):hover {
    color: rgb(193, 56, 56)
  }
  .footer > div > a:nth-child(3):hover {
    color: rgb(114, 188, 218)
  }
  .footer > div > a:nth-child(4):hover {
    color: rgb(193, 56, 56)
  }
  
  
  .footerContactBtn > p {
    color: black;
  }
  
  .footerContactBtn:hover {
    background-color: unset;
  }
  .footerContactBtn:hover p {
    color: rgb(255, 255, 255);
  } 

  @media screen and (max-width: 800px) {
    .footer > div > p {
      color: white;
      width: 90%;
    }
    .footerContactBtn {
     
      padding: 4px;
      width: 90px;
     
      margin: 2vmax 0;
    
    }
     .footer > div > a {
      font-size: 3vmax;
      
      padding-left: 20px;
    }
  }